{% extends "base.html.twig" %}

{% block title %}{{ profile.user|user_name }}{% endblock %}

{% block page_name %}profile-detail{% endblock %}

{# @var profile \App\Entity\Profile #}
{% block content %}
    <!-- Snippet: https://bootsnipp.com/snippets/K0ZmK -->
    <section class="content">
        <div class="container col-lg-9">
            <section class="row cardbox">
                <div class="col-lg-3 pb-3 px-0">
                    <div class="profile-img">
                        {% if profile.avatar %}
                            <img src="{{ asset("/uploads/avatars/"~profile.avatar) }}"
                                 alt="{{ profile.user|user_name }} avatar"/>
                        {% else %}
                            <img src="{{ asset("/build/img/profile/avatar_company.png") }}" alt="profile-img"/>
                        {% endif %}

                        {# Upload avatar link #}
                        {% if is_granted("edit", profile) %}
                            <div class="file btn btn-lg btn-primary">
                                {{ "profiles.btn_change_photo"|trans }}
                                <input type="file" name="file"/>
                            </div>
                        {% endif %}
                    </div>

                    <p class="profile-rating text-center">
                        <span class="fa fa-star me-2"></span>{{ "profiles.ranking"|trans }}: <span>8/10</span>
                    </p>

                    {% if is_granted("edit", profile) %}
                        <div class="text-center">
                            <a href="{{ path("my-profile/edit-profile") }}"
                               class="btn btn-primary">{{ "profiles.btn_edit_profile"|trans }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 pt-3 tb-3">
                    {% block profile_body %}{% endblock %}
                </div>
                <div class="col-lg-3 cardbox-siderbar">
                    {% block profile_right %}{% endblock %}
                </div>
            </section>
        </div>
    </section>
{% endblock %}