{% extends "base.html.twig" %}

{# TODO: user person/company name #}
{% block title %}{{ profile.user.company.name }}{% endblock %}

{# @var app->user \App\Entities\User #}
{% block content %}
    <!-- Snippet: https://bootsnipp.com/snippets/K0ZmK -->
    <section class="content profile-detail">
        <div class="container cardbox" style="border-radius: 10px;overflow: hidden;">
            <div class="row">
                <div class="col-md-4 pt-4 pb-4">
                    <div class="profile-img">
                        {# TODO: Add real avatar #}
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                             alt="profile-img"/>

                        {# Upload avatar link #}
                        {% if is_granted("edit", profile) %}
                            <div class="file btn btn-lg btn-primary">
                                {{ "profiles.btn_change_photo"|trans }}
                                <input type="file" name="file"/>
                            </div>
                        {% endif %}
                    </div>

                    {% if is_granted("edit", profile) %}
                        <div class="text-center">
                            <a href="{{ path("my-profile/edit-profile") }}"
                               class="btn btn-primary">{{ "profiles.btn_edit_profile"|trans }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-5 pt-4 tb-4">
                    <div class="profile-head">
                        <h2>{{ profile.user.company.name }}</h2>
                        <p class="description">{{ profile.description }}</p>

                        <p class="proile-rating">
                            <span class="fa fa-star me-2"></span>{{ "profiles.ranking"|trans }}: <span>8/10</span>
                        </p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home"
                                   role="tab" aria-controls="home"
                                   aria-selected="true">
                                    <span class="fa fa-info-circle me-2"></span>{{ "profiles.about_company"|trans }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                   role="tab" aria-controls="profile" aria-selected="false">
                                    <span class="fa fa-link me-2"></span>{{ "profiles.links"|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <span class="fa fa-building me-2"></span>
                                        {{ "profiles.company_name"|trans }}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.user.company.name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <span class="fa fa-id-badge me-2"></span>
                                        {{ "profiles.company_identification_number"|trans }}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.user.company.identificationNumber }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <span class="fa fa-map-marker-alt me-2"></span>
                                        {{ "profiles.address"|trans }}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.user.company.addressStreet }},
                                        {{ profile.user.company.addressCity }}
                                        {{ profile.user.company.addressZipCode }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <span class="fa fa-envelope me-2"></span>
                                        {{ "profiles.email"|trans }}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <span class="fa fa-phone-alt me-2"></span>
                                        {{ "profiles.phone"|trans }}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.user.phone }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% if profile.web %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <span class="fa fa-external-link-alt me-2"></span>
                                            {{ "profiles.web"|trans }}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><a href="{{ profile.web }}" target="_blank">{{ profile.web }}</a></p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if profile.facebook %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <span class="fab fa-facebook-square me-2"></span>
                                            {{ "profiles.facebook"|trans }}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><a href="{{ profile.facebook }}" target="_blank">{{ profile.facebook }}</a>
                                        </p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if profile.linkedin %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <span class="fab fa-linkedin me-2"></span>
                                            {{ "profiles.linkedin"|trans }}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><a href="{{ profile.linkedin }}" target="_blank">{{ profile.linkedin }}</a>
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cardbox-siderbar">
                    <div class="profile-properties">
                        <p>{{ "profiles.main_activity" |trans }}</p>
                        {# TODO: Print categories #}
                        <p>{{ "profiles.tags"|trans }}</p>
                        {# TODO: Print tags #}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}