{% extends "base.html.twig" %}

{% block styles %}
    <style>
        .card {
            border-radius: 5px;
            background-color: #fff;
            padding-left: 60px;
            padding-right: 60px;
            margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 30px
        }

        .rating-label {
            font-weight: bold
        }

        .rating-bar {
            width: 300px;
            padding: 8px;
            border-radius: 5px
        }

        .bar-container {
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            color: white;
            border-radius: 20px;
            cursor: pointer;
            margin-bottom: 5px
        }

        .bar-5 {
            width: 70%;
            height: 13px;
            background-color: #FBC02D;
            border-radius: 20px
        }

        .bar-4 {
            width: 30%;
            height: 13px;
            background-color: #FBC02D;
            border-radius: 20px
        }

        .bar-3 {
            width: 20%;
            height: 13px;
            background-color: #FBC02D;
            border-radius: 20px
        }

        .bar-2 {
            width: 10%;
            height: 13px;
            background-color: #FBC02D;
            border-radius: 20px
        }

        .bar-1 {
            width: 0%;
            height: 13px;
            background-color: #FBC02D;
            border-radius: 20px
        }

        td {
            padding-bottom: 10px
        }

        .star-active {
            color: #FBC02D;
            margin-top: 10px;
        }

        .star-active:hover {
            color: #F9A825;
            cursor: pointer
        }

        .star-inactive {
            color: #CFD8DC;
            margin-top: 10px;
        }

        .blue-text {
            color: #0091EA
        }

        .content {
            font-size: 18px
        }

        .profile-pic {
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            margin-right: 1rem;
        }

        .badge {
            font-size: 25px;
            font-weight: 200
        }

        .badge i {
            font-size: 20px;
            font-weight: 200
        }

        .about-rating {
            font-size: 15px;
            font-weight: 500;
            margin-top: 10px
        }

        .total-ratings {
            font-size: 12px
        }
    </style>
{% endblock %}

{% block title %}{{ profile.user|user_anonymize }}{% endblock %}

{% block page_name %}profile-detail{% endblock %}

{# @var profile \App\Entity\Profile #}
{% block content %}
    <!-- Snippet: https://bootsnipp.com/snippets/K0ZmK -->
    <section class="content">
        <div class="container col-lg-8">
            <section class="row cardbox">
                <div class="col-lg-4 pb-3 px-0">
                    <div class="profile-img">
                        {% if profile.avatar %}
                            <img src="{{ asset("/uploads/avatars/"~profile.avatar) }}"
                                 alt="{{ profile.user|user_anonymize }} avatar"/>
                        {% else %}
                            <img src="{{ asset("/build/img/profile/avatar_person.png") }}" alt="profile-img"/>
                        {% endif %}

                        {# Upload avatar link #}
                        {% if is_granted("edit", profile) %}
                            <div class="file btn btn-lg btn-primary">
                                {{ "profiles.btn_change_photo"|trans }}
                                <input type="file" name="file"/>
                            </div>
                        {% endif %}
                    </div>

                    {% if is_granted("edit", profile) %}
                        <div class="text-center">
                            <a href="{{ path("my-profile/edit-profile") }}"
                               class="btn btn-primary">{{ "profiles.btn_edit_profile"|trans }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-8 pt-3 tb-3">
                    <div class="profile-head">
                        <h2>{{ profile.user|user_anonymize }}</h2>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="about-tab" data-bs-toggle="tab" href="#about"
                                   role="tab" aria-controls="about"
                                   aria-selected="true">
                                    <span class="fa fa-info-circle me-2"></span>{{ "profiles.about_person"|trans }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact"
                                   role="tab" aria-controls="home"
                                   aria-selected="true">
                                    <span class="fa fa-address-book me-2"></span>{{ "profiles.contact"|trans }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                   role="tab" aria-controls="profile" aria-selected="false">
                                    <span class="fa fa-link me-2"></span>{{ "profiles.links"|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                            {% if profile.description %}
                                <p class="description">{{ profile.description }}</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <span class="fa fa-envelope me-2"></span>
                                        {{ "profiles.email"|trans }}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <span><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <span class="fa fa-phone-alt me-2"></span>
                                        {{ "profiles.phone"|trans }}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <span><a href="tel:{{ profile.user.phone }}">{{ profile.user.phone }}</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% if profile.web %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <span class="fa fa-external-link-alt me-2"></span>
                                            {{ "profiles.web"|trans }}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <span><a href="{{ profile.web }}" target="_blank">{{ profile.web }}</a></span>
                                    </div>
                                </div>
                            {% endif %}

                            {% if profile.facebook %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <span class="fab fa-facebook-square me-2"></span>
                                            {{ "profiles.facebook"|trans }}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <span><a href="{{ profile.facebook }}"
                                                 target="_blank">{{ profile.facebook }}</a>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}

                            {% if profile.linkedin %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <span class="fab fa-linkedin me-2"></span>
                                            {{ "profiles.linkedin"|trans }}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <span><a href="{{ profile.linkedin }}"
                                                 target="_blank">{{ profile.linkedin }}</a>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            {# Snippet: https://bbbootstrap.com/snippets/rating-and-review-system-user-comment-section-41283119 #}
            {# @var rating \App\Tools\Rating\ProfileRatingComponent #}
            <section class="rating">
                <div class="card">
                    <div class="row justify-content-left d-flex">
                        <div class="col-md-4 d-flex flex-column">
                            <div class="ratings text-center p-4 py-5"><span class="badge bg-success">
                                    {{ rating.avgRating }} <i class="fa fa-star"></i></span>
                                <span class="d-block about-rating">{{ ("rating.value."~(rating.avgRating|round(0, "floor")))|trans }}</span>
                                <span class="d-block total-ratings">{{ rating.ratingsCount }} recenzí</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="rating-bar0 justify-content-center">
                                <table class="text-left mx-auto">
                                    {# Print rating progress bars - the range 1-5 must be reverse because we want positive ratings first #}
                                    {% for i in range(1, 5)|reverse %}
                                        <tr>
                                            <td class="rating-label">{{ ("rating.value."~i)|trans }}</td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="bar-5"></div>
                                                </div>
                                            </td>
                                            <td class="text-right">{{ rating.ratingDistinctCounts[i] ?? 0 }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="p-4">
                            {% if app.user %}
                                <h3>Ohodnoťte uživatele</h3>
                                {{ form(form) }}
                            {% else %}
                                <h3>Pro hodnocení uživatelů se musíte <a href="{{ path("app_login") }}">přihlásit</a>.
                                </h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        {# @var ratingItem \App\Entity\User\ERating #}
                        {% for ratingItem in rating.ratings %}
                            <div class="card p-3">
                                <div class="row d-flex">
                                    <div class="d-flex flex-column">
                                        <h3 class="mt-2 mb-0">
                                            <img class="profile-pic" src="https://i.imgur.com/V3ICjlm.jpg" alt=""/>
                                            {{ ratingItem.author|user_name }}
                                        </h3>
                                        <small class="text-muted mt-1">
                                            Hodnoceno {{ ratingItem.createdAt|date_pretty }}
                                        </small>
                                        <div>
                                            <p class="text-left">
                                                <span class="text-muted me-2">{{ ratingItem.rating ?? 0 }}</span>
                                                {% for i in range(1,5) %}
                                                    {% if i <= ratingItem.rating %}
                                                        <span class="fa fa-star star-active"></span>
                                                    {% else %}
                                                        <span class="fa fa-star star-inactive"></span>
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% if ratingItem.targetNote %}
                                    <div class="row text-left">
                                        <p class="description">{{ ratingItem.targetNote }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}