{% block button_widget %}
    {% if label is empty %}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {% elseif label is same as(false) %}
            {% set translation_domain = false %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}

    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon_before is defined and icon_before is not null and icon_before is not empty %}
            <span class="fa {{ icon_before }}"></span>
        {% endif %}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% if icon_after is defined and icon_after is not null and icon_after is not empty %}
            <span class="fa {{ icon_after }}"></span>
        {% endif %}
    </button>
{% endblock button_widget %}

{# Resource: https://github.com/blackknight467/StarRatingBundle under MIT license #}
{% block data_list_row %}
    {%- set row_class = row_class|default(row_attr.class|default('mb-3')|trim) -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: row_class})} %}{{ block('attributes') }}{% endwith %}>
    {{ form_label(form) }}
    {{ form_widget(form, attr) }}
    <datalist id="{{ list_id }}">
        {% for option in choices %}
            <option value="{{ option }}"></option>
        {% endfor %}
    </datalist>
    {{- form_help(form) -}}
    <div id="{{ row_attr.id|default('') }}" class="invalid-feedback">
        {{- form_errors(form) -}}
    </div>
    </{{ element|default('div') }}>
{% endblock %}

{% block rating_widget %}
    {% apply spaceless %}
        <div {{ block('rating_widget_container_attributes') }}>
            {# type="number" doesn't work with floats #}
            {% set type = type|default('text') %}
            <div class="rating-well">
                {{- block('form_widget_simple') -}}
                {% for star in 1..stars %}
                    <div id="rating_star_{{ stars - star + 1 }}" class="star" data-value="{{ stars - star + 1 }}"></div>
                {% endfor %}
            </div>
        </div>
    {% endapply %}
{% endblock rating_widget %}

{% block rating_widget_container_attributes %}
    {% apply spaceless %}
        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title'] -%}
                {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrvalue is same as(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not same as(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}
    {% endapply %}
{% endblock rating_widget_container_attributes %}