{% extends "base.html.twig" %}

{% block content %}
    <div class="main-page">
        <section style="padding-top:4rem">
            <div class="jumbotron jumbotron-main">
                <img src="{{ asset("img/intro.png") }}" alt="intro" class="w-75" style="visibility: hidden;"/>
            </div>
        </section>
        <div class="container mt-5">
            <!--<div class="pl-3 row intro-container">
                <p>Tísíce poptávek ze stovek oborů denně.  </p>
            </div>-->

            <div class="row search-container">
                <div class="col-md-4">
                    <h2 style="padding-top: .5rem;">{{ "inquiries.input_key_word_search_label"|trans }}</h2>
                </div>
                <div class="col-md-8">
                    <form class="form-inline" action="{{ path("inquiries/new") }}" method="get">
                        <div class="input-group mr-2 w-100">
                            <input type="text" class="form-control"
                                   placeholder="{{ "inquiries.input_key_word_search_ph"|trans }}"
                                   name="text" id="text">
                            <!-- <inquiry-tag-autocomplete id="text"
                                                       items-source=""></inquiry-tag-autocomplete>-->
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-outline-secondary" type="submit">
                                    {{ "inquiries.btn_inquire"|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row categories-container">
                <div class="col-4">
                    <!--<h2>{{ "inquiries.category_select"|trans }}</h2>-->
                </div>
                <div class="col-8">

                </div>
            </div>
        </div>
    </div>
{% endblock %}