{% extends "base.html.twig" %}

{% block page_name %}main-page{% endblock %}

{% block styles %}
    <style>
        .jumbotron {
            display: flex;
            align-items: center;
            height: 600px;
            /*background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/buildawebsite.jpg"); */
            background-image: url({{ asset("/build/img/electrician.jpg") }});
            background-size: cover;
            background-position: top;
        }

        .jumbotron h2 {
            display: inline-block;
            color: #F06529;
            font-weight: 700;
            padding: 10px 35px;
            border-radius: 5px;
        }

        .jumbotron h3 {
            color: #FFFFFF;
            font-weight: bold;
        }

        body {
            padding-top: 3rem;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="jumbotron bg-primary">
        <div class="container">
            <div class="card" style="width: 40%;">
                <h1>Jak začít?</h1>
                <p class="description">Jsme moderní poptávkový portál, který Vám umožňuje oslovit až
                    <strong>tisíce</strong> dodavatelů z celé ČR ať už sháníte cokoliv. Zadání poptávky trvá pár minut a
                    nic Vás to nestojí! :)</p>
                <form class="form-inline" action="{{ path("inquiries/new") }}" method="get">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" placeholder="Co sháníte?" name="text" id="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-outline-secondary" type="submit">
                                {{ "inquiries.btn_inquire"|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="content mt-3">
        <div class="container">
            <!--<div class="pl-3 row intro-container">
                <p>Tísíce poptávek ze stovek oborů denně.  </p>
            </div>-->

            <div class="card mt-2">
                <h2>{{ "inquiries.inquiry_filtering"|trans }}</h2>
                <form class="form-inline" action="{{ path("inquiries/new") }}" method="get">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" placeholder="Co umíte?" name="text" id="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-outline-secondary" type="submit">
                                {{ "inquiries.btn_search"|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card mt-4">
                <h2>{{ "inquiries.category_select"|trans }}</h2>
                <div class="row">
                    {% for category in categories %}
                        <div class="col-md-4">
                            <a href="{{ path("inquiries") }}" class="fs-2 mb-2"><span
                                        class="fa fa-folder me-2"></span>{{ category.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}