{% extends "base.html.twig" %}

{% block page_name %}main-page{% endblock %}

{% block content %}
    <section class="jumbotron">
        <div class="container">
            <div class="card col-lg-6">
                <h1>Jak začít?</h1>
                <p class="description">Jsme moderní poptávkový portál, který Vám umožňuje oslovit až
                    <strong>tisíce</strong> dodavatelů z celé ČR ať už sháníte cokoliv. Zadání poptávky trvá pár minut a
                    nic Vás to nestojí! :)</p>
                <form class="form-inline" action="{{ path("inquiries/new") }}" method="get">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" placeholder="Co sháníte?" name="text" id="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-outline-secondary" type="submit">
                                {{ "inquiries.btn_inquire"|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="content mt-3">
        <div class="container">
            <div class="card mt-4">
                <h2 class="pb-2">{{ "inquiries.inquiry_filtering"|trans }}</h2>
                <form class="form-inline" action="{{ path("inquiries") }}" method="get">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" placeholder="Co umíte?" name="text" id="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-outline-secondary" type="submit">
                                {{ "inquiries.btn_search"|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card mt-4">
                <h2 class="pb-2">{{ "inquiries.category_select"|trans }}</h2>
                <div class="row">
                    {% for category in categories %}
                        <div class="col-md-4">
                            <a href="{{ path("inquiries-category", {"categoryAlias":category.alias}) }}"
                               class="fs-2 mb-2 text-black"><span
                                        class="fa fa-folder me-2"></span>{{ category.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}