{% extends "base.html.twig" %}

{% block page_name %}home-how-it-works{% endblock %}

{% block content %}
    <section class="content container">
        <div class="header">
            <h1 class="title">{{ "articles.about_title"|trans }}</h1>
            <p class="description col-lg-10">{{ "app.name"|trans }} {{ "articles.about"|trans }}</p>
        </div>
        <div>
            <h2 class="title">{{ "articles.how_it_works"|trans }}</h2>
            <ul class="text-justify" style="list-style-type: none">
                <li class="description col-lg-10"><span class="fa fa-newspaper me-2"></span><strong>Poptávka:</strong>
                    Zákazník něco potřebuje (např. zedníka, opravu automobilu...) a do systému zadává novou poptávku.
                </li>
                <li class="description col-lg-10"><span
                            class="fa fa-paper-plane me-2"></span><strong>Zveřejnění:</strong> Hned po schválení a
                    zpracování je poptávka zveřejěna a rozeslána vhodným dodavatelům, kteří mohou zasílat své nabídky.
                </li>
                <li class="description col-lg-10"><span class="fa fa-handshake me-2"></span><strong>Výběr z
                        nabídek:</strong> Zákazník si z nabídek vybere tu nejvíce vyhovující a s dodavatelem řeší
                    realizaci.
                </li>
                <li class="description col-lg-10"><span class="fa fa-check me-2"></span><strong>Dokočení:</strong> Po
                    výběru dodavatele je poptávka dokončena a zúčastněné strany mají možnost průběh poptávky ohodnotit.
                </li>
            </ul>
        </div>

        <div>
            <h2 class="title">Výhody</h2>
            <ul class="checked-list">
                <li>Neomezený přístup k hodnocení firem a zákazníků</li>
                <li>Správa vytvořených poptávek - ukončete či upravte svou poptávku dle libosti!</li>
                <li>Správa odeslaných nabídek - mějte přehled, na jaké poptávky už jste reagoval!</li>
                <li>Nové poptávky denně na Váš email dle nastavených parametrů</li>
            </ul>
        </div>

        <div class="mt-4">
            <div class="row justify-content-center">
                <h2>{{ "articles.more"|trans }}</h2>
            </div>
            <div class="row show-more mt-4">
                <div class="col-lg-6 mb-4">
                    <div class="card card-shadow">
                        <div class="card-body">
                            <h3 class="card-title">{{ "articles.inquiring"|trans }}</h3>
                            <div class="card-text">
                                {{ "articles.inquiring_description"|trans|raw("<strong>") }}
                            </div>
                            <div>
                                <a href="{{ path("inquiries/new") }}"
                                   class="btn btn-primary float-start">{{ "articles.button_add_inquiry"|trans }}</a>
                                <a href="{{ path("app_register") }}"
                                   class="btn btn-primary float-start ms-2">{{ "articles.button_register"|trans }}</a>
                                <a href="{{ path("inquiring") }}"
                                   class="btn btn-link float-end">{{ "articles.button_show_more"|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-shadow">
                        <div class="card-body">
                            <h3 class="card-title">{{ "articles.suppliers"|trans }}</h3>
                            <div class="card-text">
                                {{ "articles.suppliers_description"|trans|raw("strong") }}
                            </div>
                            <div>
                                <a href="{{ path("app_register_company") }}"
                                   class="btn btn-primary float-start">{{ "articles.button_register"|trans }}</a>
                                <a href="{{ path("suppliers") }}"
                                   class="btn btn-link float-end">{{ "articles.button_show_more"|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
