{% extends "base.html.twig" %}

{% block page_name %}home-how-it-works{% endblock %}

{% block content %}
    <section class="content">
        <div class="container">
            <div class="header">
                <div class="pl-3 row intro-container justify-content-center">
                    <h1 class="title text-center">{{ "articles.how_it_works"|trans }}</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-6">
                    <p class="description">{{ "app.name"|trans }} {{ "articles.about"|trans }}</p>
                </div>
            </div>
        </div>
        <div class="row board">
            <div class="col-md-6 col-lg-4 board-item need">
                <div class="content">
                    <h3 class="title">
                        {{ "articles.board_need_title"|trans }}
                    </h3>
                    <div class="description">
                        {{ "articles.board_need_description"|trans }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 board-item inquiry">
                <div class="content">
                    <h3 class="title">
                        {{ "articles.board_inquiry_title"|trans }}
                    </h3>
                    <div class="description">
                        {{ "articles.board_inquiry_description"|trans }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 board-item publish">
                <div class="content">
                    <h3 class="title">
                        {{ "articles.board_publish_title"|trans }}
                    </h3>
                    <div class="description">
                        {{ "articles.board_publish_description"|trans }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 board-item offer">
                <div class="content">
                    <h3 class="title">
                        {{ "articles.board_offer_title"|trans }}
                    </h3>
                    <div class="description">
                        {{ "articles.board_offer_description"|trans }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 board-item execution">
                <div class="content">
                    <h3 class="title">
                        {{ "articles.board_execution_title"|trans }}
                    </h3>
                    <div class="description">
                        {{ "articles.board_execution_description"|trans }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 board-item rating">
                <div class="content">
                    <h3 class="title">
                        {{ "articles.board_rating_title"|trans }}
                    </h3>
                    <div class="description">
                        {{ "articles.board_rating_description"|trans }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="row justify-content-center">
                <h2>{{ "articles.more"|trans }}</h2>
            </div>
            <div class="row show-more mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ "articles.inquiring"|trans }}</h5>
                            <div class="card-text">
                                {{ "articles.inquiring_description"|trans|raw("<strong>") }}
                            </div>
                            <div class="row buttons">
                                <a href="{{ path("inquiries/new") }}"
                                   class="btn btn-primary">{{ "articles.button_add_inquiry"|trans }}</a>
                                <a href="{{ path("inquiring") }}"
                                   class="btn btn-link">{{ "articles.button_show_more"|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ "articles.suppliers"|trans }}</h5>
                            <div class="card-text">
                                {{ "articles.suppliers_description"|trans|raw("strong") }}
                            </div>
                            <div class="row buttons">
                                <a href="{{ path("app_register") }}"
                                   class="btn btn-primary">{{ "articles.button_register"|trans }}</a>
                                <a href="{{ path("suppliers") }}"
                                   class="btn btn-link">{{ "articles.button_show_more"|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
