{% extends "base.html.twig" %}

{% block content %}
    <section class="content home home-suppliers">
        <div class="container">
            <div class="header">
                <div class="pl-3 row intro-container justify-content-center">
                    <h1 class="title text-center">{{ "articles.for_inquiring"|trans }}</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-6">
                        <p class="description">{{ "articles.for_inquiring_description"|trans }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 advantages">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "articles.for_inquiring_advantages"|trans }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "articles.for_inquiring_advantages_description" |trans|raw("<strong>") }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 register">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "articles.for_inquiring_register"|trans }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "articles.for_inquiring_register_description"|trans|raw("<strong>") }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 cost">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "articles.for_suppliers_cost"|trans }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "articles.for_suppliers_cost_description"|trans|raw("<strong>") }}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-center buttons">
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <a href="{{ path("app_register") }}" style="margin-right: auto;"
                           class="btn btn-primary register">{{ "articles.button_register"|trans }}</a>
                        <a href="{{ path("inquiries/new") }}"
                           class="btn btn-primary new-inquiry">{{ "articles.button_new_inquiry"|trans }}</a>
                    </div>
                </div>
            </div>

            <!--<div class="mt-4">
                <div class="row justify-content-center">
                    <h2>{{ "articles.for_suppliers_links" |trans }}</h2>
                </div>
            </div>-->
        </div>

    </section>
{% endblock %}
