{% extends "base.html.twig" %}

{% block content %}
    <section class="content home home-suppliers">
        <div class="container">
            <div class="header">
                <div class="pl-3 row intro-container justify-content-center">
                    <h1 class="title text-center">{{ "articles.for_suppliers"|trans }}</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-6">
                        <p class="description">{{ "articles.for_suppliers_description"|trans }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 advantages">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "articles.for_suppliers_advantages"|trans }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "articles.for_suppliers_advantages_description"|trans |raw }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 cost">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "articles.for_suppliers_cost"|trans }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "articles.for_suppliers_cost_description"|trans |raw }}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-center buttons">
                <a href="{{ path("app_register") }}"
                   class="btn btn-primary register">{{ "articles.button_register"|trans }}</a>
            </div>

            <!--<div class="mt-4">
                <div class="row justify-content-center">
                    <h2>{{ "articles.for_suppliers_links"|trans }}</h2>
                </div>
            </div>-->
        </div>

    </section>
{% endblock %}
