{% extends "base.html.twig" %}

{% block page_name %}home-terms-and-conditions{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="header">
                <div class="pl-3 row intro-container justify-content-center">
                    <h1 class="title">{{ "for_inquiring"|trans({}, "articles") }}</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-6">
                        <p class="description">{{ "for_inquiring_description"|trans({}, "articles") }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 advantages">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "for_inquiring_advantages"|trans({}, "articles") }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "for_inquiring_advantages_description"|trans({}, "articles") |raw }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 register">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "for_inquiring_register"|trans({}, "articles") }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "for_inquiring_register_description"|trans({}, "articles") |raw }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 cost">
                <div class="row justify-content-center">
                    <h2 class="title">{{ "for_suppliers_cost"|trans({}, "articles") }}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <p class="description">{{ "for_suppliers_cost_description"|trans({}, "articles") |raw }}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-center buttons">
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <a href="{{ path("register") }}" style="margin-right: auto;"
                           class="btn btn-primary register">{{ "button_register"|trans({}, "articles") }}</a>
                        <a href="{{ path("inquiries/new") }}"
                           class="btn btn-primary new-inquiry">{{ "button_new_inquiry"|trans({}, "articles") }}</a>
                    </div>
                </div>
            </div>

            <!--<div class="mt-4">
                <div class="row justify-content-center">
                    <h2>{{ "for_suppliers_links"|trans({}, "articles") }}</h2>
                </div>
            </div>-->
        </div>

    </div>
{% endblock %}
