{% extends 'base.html.twig' %}

{% block title %}{{ "auth.reset_password"|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content auth-forgottern-password">
        <div class="container-sm col-lg-4 col-md-8">
            <section class="row cardbox">
                <div class="col-md-12 pt-2 cardbox-item">
                    <h2 class="text-center"><span class="fas fa-key pe-2"></span>{{ "auth.reset_password"|trans }}</h2>

                    <div class="w-75 btn-center">
                        {{ form_start(form) }}
                        <div class="errors">
                            {{ form_errors(form) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

