{% extends "base.html.twig" %}

{% block scripts %}

{% endblock %}

{% block content %}
    <section class="inquiry inquiry-create">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1>{{ "inquiries.new_inquiry"|trans }}</h1>
                <p>{{ "inquiries.new_inquiry_desc"|trans }}</p>
            </div>
        </div>

        <div class="jumbotron d-none">
            <h1>{{ "inquiries.new_inquiry"|trans }}</h1>
            <p>{{ "inquiries.new_inquiry_desc"|trans }}</p>
        </div>

        <div class="container">
            <div class="page-content">
                <div data-controller="inquiry-form">
                    {{ form_start(form) }}
                    <div class="errors">
                        {{ form_errors(form) }}
                    </div>
                    <div class="row form-item">
                        <div class="card content col-8">
                            <div class="card-header">
                                <h3>{{ "inquiries.form_card_info_title"|trans }}</h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div class="card-text">
                                    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}

                                    {{ form_row(form.description, {'attr': {'class': 'form-control', 'rows':5}}) }}

                                    <input type="file" multiple class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="card sidebar col-4">
                            <div class="card-header">
                                <h4>{{ "inquiries.form_card_info_step"|trans }}</h4>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">
                                    {{ "inquiries.form_card_info_desc"|trans }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <h5>{{ "inquiries.new_inquiry_help"|trans }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row form-item">
                        <div class="card sidebar col-4">
                            <div class="card-header">
                                <h4>{{ "inquiries.form_card_params_step"|trans }}</h4>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">
                                    {{ "inquiries.form_card_params_desc"|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="card content col-8">
                            <div class="card-header">
                                <h3>{{ "inquiries.form_card_params_title"|trans }}</h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div class="card-text">
                                    {{ form_row(form.region, {'attr': {'class': 'form-select'}}) }}

                                    {{ form_row(form.value, {'attr': {'class': 'form-select'}}) }}

                                    {{ form_row(form.deadline, {'attr': {'class': 'form-select'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-item">
                        <div class="card content col-8">
                            <div class="card-header">
                                <h3>{{ "inquiries.form_card_contact_title"|trans }}</h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div class="card-text">

                                    {{ form_row(form.type, {'attr': {'class': 'radios-inline', 'id':'inquiry-type', 'data-action':'change->inquiry-form#updateFields', 'data-inquiry-form-target':'inquiryType'}}) }}

                                    <div class="row" id="personal-inquiry-fields" data-inquiry-form-target="personalFields">
                                        <div class="col-md-6">
                                            {{ form_row(form.personalContact.name, {'attr': {'class': 'form-control', 'id': 'personal-name'}}) }}
                                        </div>

                                        <div class="col-md-6">
                                            {{ form_row(form.personalContact.surname, {'attr': {'class': 'form-control', 'id': 'personal-surname'}}) }}
                                        </div>
                                    </div>

                                    <div id="company-inquiry-fields" data-inquiry-form-target="companyFields">
                                        {{ form_row(form.companyContact.companyName, {'attr': {'class': 'form-control', 'id':'company-name'}}) }}
                                    </div>

                                    {{ form_row(form.contactEmail, {'attr': {'class': 'form-control'}}) }}

                                    {{ form_row(form.contactPhone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="card sidebar col-4">
                            <div class="card-header">
                                <h4>{{ "inquiries.form_card_contact_step"|trans }}</h4>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">
                                    {{ "inquiries.form_card_contact_desc"|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        {{ form_row(form.gdpr, {'attr': {'class': ''}}) }}
                        {{ form_row(form.terms, {'attr': {'class': ''}}) }}
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}