{% extends "base.html.twig" %}

{% block page_name %}inquiry-form inquiry-create{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-sm col-lg-10">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1>{{ "inquiries.new_inquiry"|trans }}</h1>

                    <ul class="list-unstyled">
                        <li class="mb-3"><span class="me-2">
                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             fill="#2FAB73" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg></span>{{ "inquiries.new_inquiry_desc_1"|trans|raw }}
                        </li>
                        <li class="mb-3"><span class="me-2">
                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             fill="#2FAB73" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg></span>{{ "inquiries.new_inquiry_desc_2"|trans|raw }}
                        </li>
                        <li class="mb-3"><span class="me-2">
                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             fill="#2FAB73" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg></span>{{ "inquiries.new_inquiry_desc_3"|trans|raw }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="page-content">
                    <div data-controller="inquiry-form">
                        {{ form_start(form) }}
                        <div class="errors">
                            {{ form_errors(form) }}
                        </div>

                        <div class="form-items">
                            <div class="form-item">
                                <div class="cardbox content row">
                                    <div class="cardbox-siderbar d-flex flex-column col-md-4">
                                        <h3>1. {{ "inquiries.form_card_info_title"|trans }}</h3>
                                        <hr/>
                                        <p class="description">{{ "inquiries.form_card_info_desc"|trans }}</p>

                                        <div class="mt-auto">
                                            <hr/>
                                            <h4 class="mb-2"><span
                                                        class="fa fa-info-circle me-2"></span>{{ "inquiries.new_inquiry_help"|trans }}
                                            </h4>
                                            <div class="ps-2">
                                                <address class="mb-0"><span class="fa fa-at me-2"></span><a
                                                            class="btn-link"
                                                            href="mailto:{{ "app.email"|trans }}">{{ "app.email"|trans }}</a>
                                                </address>
                                                <address class="mb-0"><span class="fa fa-phone-alt me-2"></span><a
                                                            class="btn-link"
                                                            href="tel:{{ "app.phone"|trans }}">{{ "app.phone"|trans }}</a>
                                                </address>
                                                <small class="ps-2">{{ "app.phone_desc"|trans }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cardbox-item col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <div class="card-text">
                                                {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}

                                                {{ form_row(form.description, {'attr': {'class': 'form-control', 'rows':5}}) }}

                                                {# <label for="attachments">Přílohy</label>
                                            <input type="file" id="attachments" multiple class="form-control"/> #}
                                                {{ form_row(form.attachments, {'attr': {}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <div class="cardbox content row">
                                    <div class="cardbox-siderbar col-md-4">
                                        <h3>2. {{ "inquiries.form_card_params_title"|trans }}</h3>
                                        <hr/>
                                        <p class="description">{{ "inquiries.form_card_params_desc"|trans }}</p>
                                    </div>
                                    <div class="cardbox-item col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <div class="card-text">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.region, {'attr': {'class': 'form-select', 'data-action':'change->inquiry-form#updateCityField', 'data-inquiry-form-target':'regionField'}}) }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form_row(form.city, {'attr': {'class': 'form-control', 'data-inquiry-form-target':'cityField'}}) }}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.valueText, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form_row(form.deadlineText, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <div class="cardbox content row">
                                    <div class="cardbox-siderbar col-md-4">
                                        <h3 style="color:white;">3. {{ "inquiries.form_card_contact_title"|trans }}</h3>
                                        <hr/>
                                        <p class="description">{{ "inquiries.form_card_contact_desc"|trans }}</p>
                                    </div>
                                    <div class="cardbox-item col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <div class="card-text">

                                                {{ form_row(form.type, {'attr': {'class': 'radios-inline', 'id':'inquiry-type', 'data-action':'change->inquiry-form#updateFields', 'data-inquiry-form-target':'inquiryType'}}) }}

                                                <div class="row" id="personal-inquiry-fields"
                                                     data-inquiry-form-target="personalFields">
                                                    <div class="col-md-6">
                                                        {{ form_row(form.personalContact.name, {'attr': {'class': 'form-control', 'id': 'personal-name'}}) }}
                                                    </div>

                                                    <div class="col-md-6">
                                                        {{ form_row(form.personalContact.surname, {'attr': {'class': 'form-control', 'id': 'personal-surname'}}) }}
                                                    </div>
                                                </div>

                                                <div id="company-inquiry-fields"
                                                     data-inquiry-form-target="companyFields">
                                                    {{ form_row(form.companyContact.companyName, {'attr': {'class': 'form-control', 'id':'company-name'}}) }}

                                                    {{ form_row(form.companyContact.identificationNumber, {'attr': {'class': 'form-control', 'id':'company-identification-number'}}) }}
                                                </div>

                                                {{ form_row(form.contactEmail, {'attr': {'class': 'form-control'}}) }}

                                                {{ form_row(form.contactPhone, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-block form-footer mb-4">
                            <div class="float-start">
                                {{ form_row(form.gdpr, {'attr': {'class': ''}}) }}
                                {{ form_row(form.terms, {'attr': {'class': ''}}) }}
                            </div>
                            <div class="float-end">
                                {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <aside class="col-md-4">

                    </aside>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}