{% extends "base.html.twig" %}

{% block content %}
    <section class="content inquiry-detail">
        <div class="container">
            <div class="row justify-content-center">
                <section class="inquiry-detail-left card col-md-10 col-lg-6">
                    <h1>{{ inquiry.title }}</h1>
                    <ul class="inquiry-tags">
                        {# <li><span class="badge bg-primary">Čeká na nabídky</span></li> #}
                    </ul>

                    <hr/>
                    <p>{{ inquiry.description|nl2br }}</p>

                    <section class="inquiry-attachments">

                    </section>

                    <button class="btn btn-primary">Kontaktovat</button>
                </section>
                <div class="inquiry-detail-right col-md-10 col-lg-3">
                    <ul class="row inquiry-properties">
                        <li class="col-md-6 col-lg-12">
                            <div class="title"><span class="fas fa-hashtag me-2"></span>Evidenční číslo</div>
                            <div class="value">{{ inquiry.id }}</div>
                        </li>
                        <li class="col-md-6 col-lg-12">
                            <div class="title"><span class="fas fa-calendar-day me-2"></span>Zadáno</div>
                            <div class="value">{{ inquiry.createdAt|date("d.m.Y H:m") }}</div>
                        </li>
                        <li class="col-md-6 col-lg-12">
                            <div class="title"><span class="fas fa-map-marker-alt me-2"></span>Místo realizace</div>
                            <div class="value">
                                {% if inquiry.region %}{{ inquiry.region.title }}{% else %}{{ "inquiries.field_region_ph"|trans }}{% endif %}
                            </div>
                        </li>
                        <li class="col-md-6 col-lg-12">
                            <div class="title">Typ</div>
                            <div class="value">{{ inquiry.type.title|trans }}</div>
                        </li>
                        <li class="col-md-6 col-lg-12">
                            <div class="title"><span class="fas fa-clock me-2"></span>Termín</div>
                            <div class="value">{{ inquiry.deadline.title|trans }}</div>
                        </li>
                        <li class="col-md-6 col-lg-12">
                            <div class="title"><span class="fas fa-dollar-sign me-2"></span>Předpokládaná cena</div>
                            <div class="value">{{ inquiry.value.title|trans }}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}