{% extends "base.html.twig" %}

{% block scripts %}

{% endblock %}

{% block content %}
    <section class="inquiry-index">
        <div class="jumbotron">
            <h1 class="text-center">Poptávky</h1>
        </div>

        <div class="container">
            <div id="inquiry-filter" data-controller="inquiry-filter">
                {{ form_start(form, {"method":"GET"}) }}

                <div class="row justify-content-center search-container">
                    <div class="col-md-12 col-lg-10 ">
                        <div class="input-group">
                            {{ form_widget(form.text, {"class": "form-control"}) }}
                            {{ form_row(form.submit, {'attr': {'class': 'btn-outline-secondary btn btn-primary btn-search'}}) }}
                            <div>
                                <a class="btn-outline-secondary btn btn-link btn-clear-filter"
                                   href="{{ path("inquiries") }}">{{ "inquiries.btn_clear"|trans }}</a>
                            </div>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-3 search-filters">
                    <div class="card col-md-12 col-lg-10">
                        <ul>
                            <li>Kategorie A</li>
                            <li>Kategorie B</li>
                            <li>Kategorie C</li>
                            <li>Trochu delší název kategorie D</li>
                        </ul>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    {{ form_row(form.categories, {'attr': {'class': 'form-select'}}) }}
                                </div>
                                <div class="col-lg-4">
                                    {{ form_row(form.regions, {'attr': {'class': 'form-select', 'data-inquiry-filter-target':'regions'}}) }}
                                </div>
                                <div class="col-lg-4">
                                    {{ form_row(form.values, {'attr': {'class': 'form-select'}}) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    {{ form_row(form.types, {'attr': {'class': 'form-select'}}) }}
                                </div>
                                <div class="col-lg-4">

                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-3 search-note">
                    <div class="col-md-12 col-lg-10">
                        <p class="float-start">Bylo nalezeno <strong>356</strong> poptávek odpovídajích Vašim požadavkům.</p>
                        <button class="btn btn-link float-end">Zobrazit rozšířený filtr</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="container">
                {% include "inquiry/layouts/list.html.twig" with inquiries %}
            </div>

            {% include "layouts/pagination.html.twig" with {pagination} %}
        </div>
    </section>
{% endblock %}
