{# https://stackoverflow.com/questions/9496212/navigation-highlight-current-page/27134506 #}
{% macro menuItem(name, url, subitems) %}
    {% apply spaceless %}
        {% set subitems = subitems|default({}) %}
        {% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% set isActive = currentUrl == url %}

        {% for name, suburl in subitems %}
            {% set isActive = not isActive and currentUrl == suburl %}
        {% endfor %}

        <li class="nav-item">
            <a href="{{ url }}" class="nav-link {% if subitems|length > 0 %}has-sub-menu{% endif %} {% if isActive %}active{% endif %}">{{ name }}</a>
            {% if subitems|length > 0 %}
                <ul class="main-sub-menu">
                    {% for name, url in subitems %}
                        {{ _self.menuItem(name, url) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endapply %}
{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        {# Logo #}
        <a class="navbar-brand" href="{{ path("home") }}">
            <img src="{{ asset("build/libs/laslesvpn_template/img/icons/logo.png") }}" alt="" width="30"/>
            <span class="text-1000 fs-1 ms-2 fw-medium"><span class="fw-bold">{{ "app.name"|trans }}</span></span>
        </a>

        {# Mobile menu toggler #}
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>

        {# Menu items #}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
                {{ _self.menuItem("mainnav.inquiries"|trans, path("inquiries")) }}
                {{ _self.menuItem("mainnav.inquiring"|trans, path("inquiring")) }}
                {{ _self.menuItem("mainnav.suppliers"|trans, path("suppliers")) }}
                {{ _self.menuItem("mainnav.about_project"|trans, path("how-it-works")) }}
            </ul>

            <section class="d-flex py-3 py-lg-0">
                {% if app.user %}
                    <a class="btn btn-link text-1000 fw-medium order-1 order-lg-0" href="{{ path('app_logout') }}">
                        <span class="fas fa-sign-out-alt"></span> {{ "auth.log_out"|trans }}</a>

                    <!--
            <a href="#" class="nav-link"></a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">JMÉNO UŽIVATELE</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#!">Moje poptávky</a>
                    <a class="dropdown-item" href="#!">Můj
                        profil</a>
                    @if($user->GetIsAdmin())
                    <a class="dropdown-item" href="#!">Administrace</a>
                    @endif
                    <a class="dropdown-item" href="{{ path('app_logout') }}">{{ "auth.log_out"|trans }}</a>
                </div>
            </li>
            -->
                {% else %}
                    <a class="btn btn-link text-1000 fw-medium order-1 order-lg-0" href="{{ path('app_login') }}">
                        <span class="fas fa-sign-in-alt"></span> {{ "auth.log_in"|trans }}</a>
                {% endif %}

                <a class="btn btn-outline-primary rounded-pill order-0" href="{{ path("inquiries/new") }}">
                    <span class="fas fa-plus me-2"></span> {{ "inquiries.btn_create_inquiry"|trans }}</a>
            </section>
        </div>
    </div>
</nav>