{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block styles %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <section class="auth-login">
        <div class="container login-container">
            <div class="row justify-content-center">
                <div class="col-md-6 login-form">
                    <h3>{{ "auth.login"|trans }}</h3>
                    {{ form_start(form) }}
                    {# Style errors. #}
                    <div class="errors">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form._username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form._password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form._remember_me, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary btn-submit'}}) }}
                    </div>

                    <div class="form-group">
                        <a href="#" class="btn-forget-password">{{ "auth.btn_forgotten_password"|trans }}</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block old %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">login</button>
    </form>
{% endblock %}