{% extends 'base.html.twig' %}

{% block title %}{{ "auth.registration"|trans }}{% endblock %}

{% block content %}
    <section class="content auth-register">
        <div class="jumbotron">
            <h1 class="display-4">{{ "auth.registration"|trans }}</h1>
            <p class="lead">{{ "auth.registration_desc"|trans }}</p>

            <div class="row register-options justify-content-center">
                <div class="card card-shadow col-md-5 col-xl-3">
                    <div class="card-header">
                        <h3>{{ "auth.register_person"|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <div class="card-text">
                            <p>{{ "auth.register_person_desc"|trans }}</p>
                            <div class="d-flex justify-content-center">
                                <a href="{{ path("app_register_person") }}" class="btn btn-primary">{{ "auth.btn_register_person"|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-shadow col-md-5 col-xl-3">
                    <div class="card-header">
                        <h3>{{ "auth.register_company"|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <div class="card-text">
                            <p>{{ "auth.register_company_desc"|trans }}</p>
                            <div class="d-flex justify-content-center">
                                <a href="{{ path("app_register_company") }}" class="btn btn-primary">{{ "auth.btn_register_company"|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block a %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Registrace</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
