{% extends "email/base.html.twig" %}

{% block style %}

{% endblock %}

{# @var subscription \App\Entity\Inquiry\Subscription #}
{% block body %}
    <p>Dobrý den, <br/><br/>
        na základě Vašeho nastavení Vám zasíláme nové poptávky vybrané dle Vašich preferencí.</p>

    <ul style="list-style-type: none;">
        {% for inquiry in subscription.inquiries %}
            <li>
                <h3><a href="{{ url("inquiries/detail", {"alias":inquiry.alias}) }}">{{ inquiry.title }}</a></h3>
                <p>{{ inquiry.description|text_preview(100) }}</p>
            </li>
        {% endfor %}
    </ul>

    <p style="margin-top:3rem;">Vaše preference si můžete upravit v <a
                href="{{ url("my-profile/edit-inquiry-subscriptions") }}">nastavení Vašeho účtu</a>.</p>

    {% include "email/layout/signature.html.twig" %}

    <hr/>
    <footer>
        <p>Tento email jste obdržel na základě Vašeho nastavení v systému <a
                    href="{{ url("home") }}">{{ "app.name"|trans }}</a>.</p>
    </footer>
{% endblock %}