{% extends "email/base.html.twig" %}

{% block style %}

{% endblock %}

{# @var offer \App\Entity\Inquiry\Offer #}
{% block body %}
    <p>Dobrý den, <br/><br/>
        na základě Vaší poptávky <a
                href="{{ url("inquiries/detail", {"alias":offer.inquiry.alias}) }}">{{ offer.inquiry.title }}</a>
        Vám náš dodavatel zasílá nabídku. </p>
    <p>Pro více informací o dodavateli si zobrazte jeho profil <a
                href="{{ url("profiles/detail", {"profileId":offer.author.id }) }}">{{ offer.author|user_name }}</a>.
    </p>
    <h3>Text nabídky:</h3>
    <p>{{ offer.text|nl2br }}</p>
    <h3>Pro více informací můžete dodavatele přímo kontaktovat:</h3>
    <ul>
        <li>Email: <a href="mailto:{{ offer.author.email }}">{{ offer.author.email }}</a></li>
        {% if offer.author.phone %}
            <li>Tel.: <a href="tel:{{ offer.author.phone }}">{{ offer.author.phone }}</a></li>
        {% endif %}
    </ul>

    {% include "email/layout/signature.html.twig" %}

    <hr/>
    <footer>
        <p>Tento email jste obdržel na základě Vašeho souhlasu při zveřejnění poptávky na serveru <a
                    href="{{ url("home") }}">{{ "app.name"|trans }}</a>.</p>
    </footer>
{% endblock %}