{% extends 'base.html.twig' %}

{% block title %}{{ "profiles.my_profile"|trans }}{% endblock %}

{% block page_name %}profile-settings{% endblock %}

{% block content %}
    <section class="content">
        <div class="container col-lg-8">
            <div class="row cardbox">
                <div class="col-md-3 cardbox-siderbar profile-menu">
                    <nav class="list-group list-group-flush">
                        {# Siderbar nav items #}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1">
                                <a href="" class="text-reset"><span
                                            class="fas fa-tachometer-alt me-2"></span>{{ "profiles.dashboard_summaries"|trans }}
                                </a>
                            </li>
                            <li class="list-group-item py-1">
                                <a href="{{ path("my-inquiries") }}"
                                   class="text-reset"><span
                                            class="fas fa-folder me-2"></span>{{ "inquiries.my_inquiries"|trans }}</a>
                            </li>
                            <li class="list-group-item py-1">
                                <a href="{{ path("my-offers") }}" class="text-reset"><span
                                            class="fas fa-history me-2"></span>{{ "offers.my_offers"|trans }}
                                </a>
                            </li>

                            <li class="list-group-item py-1">
                                <a href="{{ path("my-profile/base-settings") }}"
                                   class="text-reset"><span
                                            class="fas fa-tools me-2"></span>{{ "profiles.settings_basic"|trans }}</a>
                            </li>
                            <li class="list-group-item py-1">
                                <a href="{{ path("my-profile/edit-profile") }}"
                                   class="text-reset"><span
                                            class="fas fa-id-card me-2"></span>{{ "profiles.settings_profile"|trans }}
                                </a>
                            </li>
                            <li class="list-group-item py-1">
                                <a href="{{ path("my-profile/change-password") }}" class="text-reset">
                                    <span class="fas fa-key me-2"></span>{{ "profiles.settings_change_password"|trans }}
                                </a>
                            </li>
                            {% if is_granted("ROLE_SUPPLIER") %}
                                <li class="list-group-item py-1">
                                    <a href="{{ path("my-profile/edit-inquiry-subscriptions") }}"
                                       class="text-reset"><span
                                                class="fas fa-bell me-2"></span>{{ "profiles.settings_inquiry_subscription"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="list-group-item py-1">
                                <a href="{{ path("my-profile/edit-notifications") }}" class="text-reset"><span
                                            class="fas fa-flag me-2"></span>{{ "profiles.settings_notifications"|trans }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9 profile-content">
                    <h2>{% block tab_title %}{% endblock %}</h2>
                    <hr/>
                    {% block tab_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}